<!DOCTYPE html>
	<html lang="en">
		<head>
		    <meta charset="UTF-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		    <title>Menu</title>
		    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
		    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
		    <script src="index.js"></script>     
		</head>
		<body>
		    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		        <nav class="navbar navbar-inverse">
		            <div class="container-fluid">
			                <div class="navbar-header">
			                    <a class="navbar-brand" href="#">Employee Forms</a>
					        </div>
		                		<ul class="nav navbar-nav">
		                    		<li class="active">
		                        		<a href="insert.html">Insert Employee</a>
		                    		</li>
		                    		<li>
		                        		<a href="get.html">View Employee</a>
		                    		</li>
	                			</ul>
	           			</div>         
		        	</nav>
		   </nav>      
		<div ng-app="index" ng-controller="indexController">
		<table class="table table-bordered">
				  <thead>
				    <tr>
				      <th scope="col">EMP ID</th>
				      <th scope="col">NAME</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr ng-repeat="emp in employee" >
				      <td class="align-center">{{emp.id}}</td>
				      <td class="align-center">{{emp.name}}</td>
				      <td class="align-center"><button class="btn btn-danger" ng-click="deleteEmployee(emp.id)">Delete</button></td>
				    </tr>
				</tbody>
			 </table>
		</div>
		 		         
		
	      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	        <!-- jQuery library -->
	        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	        <!-- Latest compiled JavaScript -->
	        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		</body>

</html>